<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>فرم ورود</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Form.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body>
<div th:replace="fragment/pageHead::navbar"></div>

      <section id="cover" class="min-vh-100">
          <div id="cover-caption">
              <div class="container">
                  <div class="row text-white">
                      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                          <h1 class="display-4 py-2 text-truncate">فرم ورود</h1>
                          <div class="px-2">
                              <form thaction="@{/login}" method="post" class="justify-content-center">
                                  <div class="form-group">
                                      <label class="float-lg-right">: ایمیل</label>
                                      <input type="email" name="email" class="form-control text-left" placeholder="jane.doe@example.com">
                                  </div>
                                  <div class="form-group">
                                      <label class="float-lg-right" >: رمز</label>
                                      <input type="password" name="password" class="form-control text-left" placeholder="Password" >
                                  </div>
                                  <button type="submit" class="btn btn-success btn-lg">ورود</button>
                                  <button type="submit" class="btn btn-danger btn-lg">لغو</button>
                              </form>
                              <a class="float-lg-right" th:href="@{person/register}"><h5>ثبت نام</h5></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</body>
</html>